---
layout: compress
title: about
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  <section class="hero is-fullheight has-text-justified has-background-black-ter" id="about"
    style="background-color: #1f1f1f;">
    <div class="hero-body">
      <div class="container">
        <div class="columns" style="color:white; ">
          <div class="column is-one-quarter-desktop is-one-quarter-tablet is-one-quarter-fullhd" style="margin-top: 8rem;">
            <i class="fa fa-hands" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
          </div>
          <div class="column is-three-quarter-deskop is-three-quarter-tablet is-three-quarter-fullhd" style="margin-top: 8rem;">
            <h1><b>SWIFT's Mission</b></h1>
            <p>
              SWIFT, or Students With an Interest in the Future of Technology, is the premier information
              technology and security organization at Cal Poly Pomona. We focus on delivering the practical techniques,
              resources, and workshops to help you succeed within the fields of cybersecurity, system administration, and
              networking - for students, by students. We strive to inspire students to take their learning beyond the
              classroom and prepare members to endeavor into their professional careers with mentoring from industry
              professionals working in top cybersecurity companies like CrowdStrike, Mandiant, and many others.</p>
          </div>
        </div>
        <img src="assets/images/swiftmission.jpg" style="margin-top: 8rem;">
      </div>
  </section>
  <!--Footer begins here-->
  {% include footer.html %}
</body>

</html>