---
layout: compress
title: competitions
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight-with-navbar has-text-centered has-background-black-ter" id="competitions">
        <div class="hero-body" style="background-color:#1f1f1f">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column">
                        <i class="fa fa-trophy" style="width:12rem;height:16rem;padding-bottom:4rem"></i>
                        <h1 style="margin-bottom:2rem"><b>The best of the best.</b></h1>
                        <p>
                            SWIFT sponsors the best cybersecurity teams in the world by providing in-depth training, resources, 
                            and connections to industry professionals to help them succeed. We 
                            train our competition teams from the ground up in a variety of disciplines, such as network 
                            security, penetration testing, business reports, and more.
                        </p>

                    </div>
                </div>
            </div>
    </section>
    <section class="hero is-halfheight has-text-centered has-background-black-ter" style="margin-bottom:0"
        id="competitions">
        <div class="hero-body" style="background-color:#242526">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>CCDC</b></h1>
                        <span class="tag is-link">Incident Response</span>
                        <p>
                            CCDC is a national blue-teaming competition that challenges students to maintain and protect a
                            simulated business environment. Throughout the competition, students are tasked with maintaining a company’s
                            day-to-day operations, managing networks, and hardening services in Linux and Windows.
                            Many industries recognize CCDC as quality, real-world technical experience. SWIFT invites
                            all students from Cal Poly Pomona to attend a cybersecurity training bootcamp for both CCDC 
                            and CPTC that begins in June.
                            </p>
                    </div>
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/ccdc.jpg">
                    </div>
                </div>
            </div>
    </section>
    <section class="hero is-halfheight has-text-centered has-background-black-ter" id="competitions">
        <div class="hero-body" style="background-color:#1f1f1f">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/cptc.jpg">
                    </div>
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>CPTC</b></h1>
                        <span class="tag is-danger">Penetration Testing</span>
                        <p>
                            CPTC is a national penetration testing competition that challenges students to penetrate a business-
                            simulated network by exploiting vulnerabilities in order to extract as much information as possible.
                            SWIFT provides training in both areas of securing and penetrating corporations, as well as 
                            writing a quality, in-depth report that will be presented to a panel of C-Level executives. With an
                            understanding of both technical skills and business objectives, competitiors will thrive in 
                            a consulting role, dealing with cybersecurity and business. SWIFT hosts a cybersecurity training bootcamp for 
                            CCDC and CPTC starting in June, and everyone is welcome to attend!
                        </p>
                    </div>
                </div>
            </div>
    </section>
    <section class="hero is-halfheight has-text-centered has-background-black-ter" id="competitions"
        style="margin-bottom:0">
        <div class="hero-body" style="background-color:#242526">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>Hivestorm</b></h1>
                        <span class="tag is-link">System Administration</span>
                        <p>Hivestorm is a CyberPatriot-esque competition where students are tasked to perform a variety
                            of hardening techniques and practices to secure Windows and Linux machines. Students learn
                            about basic Windows and Linux system administration, as well as different utilities within
                            each operating system to perform basic hardening tasks.</p>
                    </div>
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/hivestorm.png">
                    </div>
                </div>
            </div>
    </section>
    <section class="hero is-halfheight has-text-centered has-background-black-ter" id="competitions">
        <div class="hero-body" style="background-color:#1f1f1f">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/ncl.png">
                    </div>
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>NCL</b></h1>
                        <span class="tag is-ctf">Capture The Flag</span>
                        <p>National Cyber League, or NCL, is a Capture-The-Flag competition that encourage students to
                            use a wide variety of tools, explore new technologies, and think outside the box to solve
                            various challenges on its platform. Students are tasked to perform open-source intelligence
                            on social media accounts, websites, and even Google Maps, as well as analyze packet captures
                            for IP addresses and data transfer and even perform reverse engineering on a binary to
                            identify flags. This competition is open for everyone of all skill levels.</p>
                    </div>
                </div>
            </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>