---
layout: compress
title: competitions
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight-with-navbar has-text-centered has-background-black-ter" id="competitions">
        <div class="hero-body" style="background-color:#1f1f1f">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column">
                        <i class="fa fa-trophy" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                        <h1 style="margin-bottom:2rem"><b>Cybersecurity Competitions</b></h1>
                        <p>Students with an Interest in the Future of Technology is the premier information technology
                            and security organization at Cal Poly Pomona. We aim to inspire and create a generation of
                            students who are aware and capable of dealing with the dynamic landscape of information
                            security, cyber security, and information technology. Together we can build a secure future
                            through training, experience, and education.</p>

                    </div>
                </div>
            </div>
    </section>
    <section class="hero is-halfheight has-text-centered has-background-black-ter" style="margin-bottom:0"
        id="competitions">
        <div class="hero-body" style="background-color:#242526">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>CCDC</b></h1>
                        <span class="tag is-link">Incident Response</span>
                        <p>CCDC is a national blue teaming competition that challenges student to maintain and protect a
                            simulated corporation. CCDC challenges a variety of skills, maintaining a company’s
                            day-to-day operations, managing networks, and hardening main services in Linux and Windows.
                            Many industries recognize CCDC as real world technical experience. To prepare, SWIFT invites
                            all students for weekly CCDC training starting summer till the end of nationals.</p>
                    </div>
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/ccdc.jpg">
                    </div>
                </div>
            </div>
    </section>
    <section class="hero is-halfheight has-text-centered has-background-black-ter" id="competitions">
        <div class="hero-body" style="background-color:#1f1f1f">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/cptc.jpg">
                    </div>
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>CPTC</b></h1>
                        <span class="tag is-danger">Penetration Testing</span>
                        <p>CPTC is a national red teaming competition that challenges students to penetrate and attack
                            by exploiting vulnerabilities in order to extract as much damaging information as possible.
                            SWIFT provides training in both areas of securing and penetrating corporations; with an
                            understanding of both practices, we hope students will thrive in the competition as well as
                            the real world. SWIFT has been a huge supporter in all cybersecurity competitions, absorbing
                            the same expenses for our CPTC competitors as CCDC.</p>
                    </div>
                </div>
            </div>
    </section>
    <section class="hero is-halfheight has-text-centered has-background-black-ter" id="competitions"
        style="margin-bottom:0">
        <div class="hero-body" style="background-color:#242526">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>Hivestorm</b></h1>
                        <span class="tag is-link">System Administration</span>
                        <p>Hivestorm is a CyberPatriot-esque competition where students are tasked to perform a variety
                            of hardening techniques and practices to secure Windows and Linux machines. Students learn
                            about basic Windows and Linux system administration, as well as different utilities within
                            each operating system to perform basic hardening tasks.</p>
                    </div>
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/hivestorm.png">
                    </div>
                </div>
            </div>
    </section>
    <section class="hero is-halfheight has-text-centered has-background-black-ter" id="competitions">
        <div class="hero-body" style="background-color:#1f1f1f">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/ncl.png">
                    </div>
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>NCL</b></h1>
                        <span class="tag is-ctf">Capture The Flag</span>
                        <p>National Cyber League, or NCL, is a Capture-The-Flag competition that encourage students to
                            use a wide variety of tools, explore new technologies, and think outside the box to solve
                            various challenges on its platform. Students are tasked to perform open-source intelligence
                            on social media accounts, websites, and even Google Maps, as well as analyze packet captures
                            for IP addresses and data transfer and even perform reverse engineering on a binary to
                            identify flags. This competition is open for everyone of all skill levels.</p>
                    </div>
                </div>
            </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>