---
layout: compress
title: contact
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  <section class="hero is-fullheight has-text-centered has-background-black-ter" id="contact"
    style="background-color: #1f1f1f;">
    <div class="hero-body">
      <div class="container">
        <div class="column" style="color:white; ">
          <div class="column" style="margin-top: 8rem;">
            <i class="fa fa-phone" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
            <h1><b>Contact Us!</b></h1>
            <p>Feel free to email us at eboard@calpolyswift.org.</p>
            <p>In-person meetings in building 163-1005 or Zoom on Tuesdays and Fridays!</p>
            <br>
            <img src="assets/images/contactus.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Footer begins here-->
  {% include footer.html %}
</body>

</html>