---
layout: compress
title: eboard
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include navbar.html %}
	<section class="hero is-fullheight has-text-centered has-background-black-ter" id="about"
		style="background-color: #1f1f1f;">
		<div style="margin-top: 50px;" class="container">
			<h1 style="font-size:4rem; align-self:center; margin-top: 30px;">SWIFT's Eboard</h1>
			<div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;align-items: center;align-content: center;">
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Taylor.jpg" alt="Taylor Nguyen">
					<h3>Taylor Nguyen</h3>
					<h4>President</h4>
					<a href="https://www.linkedin.com/in/taylorsnguyen/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Gabe.jpg" alt="Gabriel Fok">
					<h3>Gabriel Fok</h3>
					<h4>VP of Operations</h4>
					<a href="https://www.linkedin.com/in/gabriel-fok/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Jasmine.jpg" alt="Jasmine Weddle">
					<h3>Jasmine Weddle</h3>
					<h4>VP of External</h4>
					<a href="https://www.linkedin.com/in/jasmine-m-weddle/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/BryantHernandez.JPG" alt="Bryant Hernandez">
					<h3>Bryant Hernandez</h3>
					<h4>Director of Academy</h4>
					<a href="https://www.linkedin.com/in/bryant-hernandez-8b6519167/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/ValWon.png" style="width: 200px; height: 200px;" alt="Valerie Won">
					<h3>Valerie Won</h3>
					<h4>Director of Labs</h4>
					<a href="#">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<!--<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Luis.jpg" alt="Luis Velasquez">
					<h3>Luis Velasquez</h3>
					<h4>CO-DIRECTOR - Labs</h4>
					<a href="https://www.linkedin.com/in/luis-velasquez-cpp/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>-->
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/MichaelTran.JPG" alt="Michael Tran">
					<h3>Michael Tran</h3>
					<h4>Co-Social Event Coordinator</h4>
					<a href="https://www.linkedin.com/in/karina-g-rivera/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/wendy.jpg" alt="Mercedes Wendy Gonzales">
					<h3>Wendy Gonzales</h3>
					<h4>Co-Social Event Coordinator</h4>
					<a href="https://www.linkedin.com/in/mercedes-g-803645193/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/JessicaL.jpg" alt="Jessica Leung">
					<h3>Jessica Leung</h3>
					<h4>VP of Internal</h4>
					<a href="https://www.linkedin.com/in/jessicacleung/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/emilyhan.png" alt="Emily Han">
					<h3>Emily Han</h3>
					<h4>Social Media Coordinator</h4>
					<a href="https://www.linkedin.com/in/emily-han-8b5408211/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Felipe.jpg" alt="Felipe Aceves">
					<h3>Felipe Aceves</h3>
					<h4>Treasurer</h4>
					<a href="https://www.linkedin.com/in/felipe-aceves-484044217/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Melvin.jpg" alt="Melvin Karuga">
					<h3>Melvin Karuga</h3>
					<h4>Graphic Designer</h4>
					<a href="https://www.linkedin.com/in/melvin-karuga/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/maymoonah.jpg" alt="Maymoonah Mohammed">
					<h3>May Mohammed</h3>
					<h4>Web Designer</h4>
					<a href="https://www.linkedin.com/in/maymoonahm/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img style="height: 200px;" class="eboard-image" src="assets/images/eboard/JessicaF.jpg"
						alt="Jessica Foronda">
					<h3>Jessica Foronda</h3>
					<h4>Advisor</h4>
					<a href="https://www.linkedin.com/in/jessicaforonda/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/dylan.jpg" alt="Dylan Wong">
					<h3>Dylan Wong</h3>
					<h4>Technical Assistant</h4>
					<a href="https://www.linkedin.com/in/dylan-wong-998b85116/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/lawrence.jpg" alt="Lawrence Kim">
					<h3>Lawrence Kim</h3>
					<h4>Technical Assistant</h4>
					<a href="https://www.linkedin.com/in/lawrence-kim-4789871b6/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
			</div>
			<h1 style="font-size:4rem; align-self:center;">SWInterns</h1>
			<div
				style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;align-items: center;align-content: center;">
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/dylantran.jpg" alt="dylantran">
					<h3>Dylan Tran</h3>
					<h4>Intern</h4>
					<a href="https://www.linkedin.com/in/dylan-tuan-tran/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/evandeters.jpg" alt="Evan Deters">
					<h3>Evan Deters</h3>
					<h4>Intern</h4>
					<a href="https://www.linkedin.com/in/evan-deters/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/jacobjayme.jpg" alt="Jacob Jayme">
					<h3>Jacob Jayme</h3>
					<h4>Intern</h4>
					<a href="https://www.linkedin.com/in/jacobjayme/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--Footer begins here-->
	{% include footer.html %}
</body>

</html>