---
layout: compress
title: eboard
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include navbar.html %}
	<section class="hero is-fullheight has-text-centered has-background-black-ter" id="about"
		style="background-color: #1f1f1f;">
		<div style="margin-top: 50px;" class="container">
			<h1 style="font-size:4rem; align-self:center; margin-top: 30px;">SWIFT's Eboard</h1>
			<div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;align-items: center;align-content: center;">
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Taylor.jpg" alt="Taylor Nguyen">
					<h3>Taylor Nguyen</h3>
					<h4>President</h4>
					<a href="https://www.linkedin.com/in/taylorsnguyen/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Gabe.jpg" alt="Gabriel Fok">
					<h3>Gabriel Fok</h3>
					<h4>VP of Operations</h4>
					<a href="https://www.linkedin.com/in/gabriel-fok/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Jasmine.jpg" alt="Jasmine Weddle">
					<h3>Jasmine Weddle</h3>
					<h4>VP of External</h4>
					<a href="https://www.linkedin.com/in/jasmine-m-weddle/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/JessicaLeung.jpg" alt="Jessica Leung">
					<h3>Jessica Leung</h3>
					<h4>VP of Internal</h4>
					<a href="https://www.linkedin.com/in/jessicacleung/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/SydneyDuong.jpg" alt="Sydney Duong">
					<h3>Sydney Duong</h3>
					<h4>Outreach Coordinator</h4>
					<a href="https://www.linkedin.com/in/sydneylduong/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/MichaelTran.JPG" alt="Michael Tran">
					<h3>Michael Tran</h3>
					<h4>Co-Social Event Coordinator</h4>
					<a href="https://www.linkedin.com/in/karina-g-rivera/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/wendy.jpg" alt="Mercedes Wendy Gonzales">
					<h3>Wendy Gonzales</h3>
					<h4>Co-Social Event Coordinator</h4>
					<a href="https://www.linkedin.com/in/mercedes-g-803645193/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/BryantHernandez.JPG" alt="Bryant Hernandez">
					<h3>Bryant Hernandez</h3>
					<h4>Director of Academy</h4>
					<a href="https://www.linkedin.com/in/bryant-hernandez-8b6519167/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/jacobjayme.jpg" alt="Jacob Jayme">
					<h3>Jacob Jayme</h3>
					<h4>Co-Director of Membership</h4>
					<a href="https://www.linkedin.com/in/jacobjayme/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/KarinaRivera.JPG" alt="Karina Rivera">
					<h3>Karina Rivera</h3>
					<h4>Co-Director of Membership</h4>
					<a href="https://www.linkedin.com/in/karina-g-rivera/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Felipe.jpg" alt="Felipe Aceves">
					<h3>Felipe Aceves</h3>
					<h4>Treasurer</h4>
					<a href="https://www.linkedin.com/in/felipe-aceves-484044217/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/DerrickTran.jpg" alt="Derrick Tran">
					<h3>Derrick Tran</h3>
					<h4>Director of Marketing</h4>
					<a href="https://www.linkedin.com/in/derrickttran/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/SamuelArthurSWIFT.png" alt="Samuel Arthur Ramirez">
					<h3>Samuel Arthur Ramirez</h3>
					<h4>Graphic Designer</h4>
					<a href="https://www.linkedin.com/in/samuel-arthur-ramirez-080756161/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/evandeters.jpg" alt="Evan Deters">
					<h3>Evan Deters</h3>
					<h4>Director of Infrastructure</h4>
					<a href="https://www.linkedin.com/in/evan-deters/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/MeghanNguyen.jpg" alt="Meghan Nguyen">
					<h3>Meghan Nguyen</h3>
					<h4>Alumni Relations Coordinator</h4>
					<a href="https://www.linkedin.com/in/meghannguyen/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/JasonPhan.jpg" alt="Jason Phan">
					<h3>Jason Phan</h3>
					<h4>Tech Symposium Chair</h4>
					<a href="https://www.linkedin.com/in/jasonphan03/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/ClemenceYi.JPG" alt="Clemence Yi">
					<h3>Clemence Yi</h3>
					<h4>Director of Red vs Blue</h4>
					<a href="https://www.linkedin.com/in/jasonphan03/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/MichaelFranklin.JPG" alt="Michael Franklin">
					<h3>Michael Franklin</h3>
					<h4>Web Master</h4>
					<a href="https://www.linkedin.com/in/mtfranklin/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
			</div>
			<h1 style="font-size:4rem; align-self:center;">Swinterns</h1>
			<div
				style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;align-items: center;align-content: center;">
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/DylanTran.jpg" alt="Dylan Tran">
					<h3>Dylan Tran</h3>
					<h4>Swintern</h4>
					<a href="https://www.linkedin.com/in/dylan-tuan-tran/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Jimmy.jpeg" alt="Jimmy Peng">
					<h3>Jimmy Peng</h3>
					<h4>Swintern</h4>
					<a href="https://www.linkedin.com/in/jimmy-peng-43bb89218">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/DylanTon.jpeg" alt="Dylan Ton">
					<h3>Dylan Ton</h3>
					<h4>Swintern</h4>
					<a href="https://www.linkedin.com/in/dylanton">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Lance.jpeg" alt="Lance Sahagun">
					<h3>Lance Sahagun</h3>
					<h4>Swintern</h4>
					<a href="https://www.linkedin.com/in/lance-sahagun-17baa5232">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Nathan.jpeg" alt="Nathan Leung">
					<h3>Nathan Leung</h3>
					<h4>Swintern</h4>
					<a href="https://www.linkedin.com/in/nathan-leung-98513a1b6">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
				<div class="eboard">
					<img class="eboard-image" src="assets/images/eboard/Davy.jpeg" alt="David Bohon">
					<h3>David Bohon</h3>
					<h4>Swintern</h4>
					<a href="https://www.linkedin.com/in/david-b-76a238185/">
						<i class="fa-brands fa-linkedin fa-2x"></i>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--Footer begins here-->
	{% include footer.html %}
</body>

</html>