---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  <section class="hero is-fullheight has-text-centered has-background-black-ter" id="about" style="background-color: #1f1f1f;">
    <div class="hero-body">
        <div class="container">
            <div class="columns" style="color:white; ">
                <div class="" style="margin-top: 8rem;">
                    <i class="fa fa-people" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                    <h1><b>Events!</b></h1>
                    <p></p>
                    
                </div>
            </div>
        </div>
        </section>
    </body>
    {% include footer.html %}
</html>