---
layout: compress
title: FAQ
accordion: 
  - title: Who can join SWIFT?
    content: SWIFT is open to EVERYONE. Any major, any grade level, any amount of experience - you name it, we want YOU!
  - title: How can I get involved in SWIFT?
    content: The best way to join the learning and fun is to show up to our weekly, in-person meetings and workshops. Between weekly meetings and workshops, an always-active Discord, and several other events sprinkled throughout the semster (like Tech Symposium and RvB), there's always something to do to get involved in SWIFT. Additionally, SWIFT is always looking for more hands to join in on our projects so just ask! 
  - title: What is the Swintern program? How can I join?
    content: The Swintern program is an opportunity for students to get exposure to all the aspects of SWIFT as a club. Swinterns work with everyone on eboard to learn technical, administrative, and collaboration skills all while learning something they are passionate about, cybersecurity! Applications to be a Swintern usually open during the last few months of every semester.
---


<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight has-text-centered has-background-black-ter" id="membership"
        style="background-color: #1f1f1f;">
        <div class="hero-body">
            <div class="container">
                <div style="text-align: left">
                    <h1>Frequently Asked Questions</h1>
                    {% include accordian.html %}
                </div>
            </div>


    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>