---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include navbar.html %}
  <section class="hero is-fullheight has-text-centered has-background-black-ter" id="about" style="background-color: #1f1f1f;">
    <div class="hero-body">
        <div class="container">
            <div class="columns" style="color:white; ">
                <div class="" style="margin-top: 8rem;">
                    <i class="fa fa-laptop" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                    <h1><b>General meetings</b></h1>
                    <p width="40%">SWIFT general meetings are free for anyone to attend. We have an exciting year planned for you. With all new speakers, professional trainings, and some amazing interactive workshops ahead. Whether you're just getting started with cyber security or an already experienced hacker or I.T. guru, SWIFT is here for you. Focusing on systems/network administration and cybersecurity, SWIFT brings together industry best practice and creative research efforts to advance the practice of emerging technologies. Become a SWIFT member today. Members receive special discounts on conferences and trainings as well as access to our private workshops and events. Members also receive access to private job listings at some of the largest companies including Tesla, Facebook, FireEye and more!</p>
                    <br>
                    <p>SWIFT holds weekly general meetings with both in-house and external speakers. These meetings cover relevant topics in computer and technology industries. Live demos of software and hardware are common. In addition to the weekly meetings, SWIFT hosts a number of free workshops that teach a variety of skills including Linux installation, network security, and penetration testing. These workshops are hands-on and are designed to let members get hands-on experience with real technology.</p>
                    <img src="assets/images/meetings.jpg" style="margin-top: 8rem;">
                </div>
                <!-- <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
</section>
  <!-- {% include contact.html %} -->
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<!-- <script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
    }
  });
</script> -->

</html>