---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  <section class="hero is-fullheight has-text-centered has-background-black-ter" id="about" style="background-color: #1f1f1f;">
    <div class="hero-body">
        <div class="container">
            <div class="columns" style="color:white;">
                <div>
                    <h1 style="font-size:3rem; align-self:center; margin: 3rem;">Join the SWIFT Community</h1>
                    <img src="assets/images/meetings.jpg" style="height: 60%; padding-bottom: 20px;">
                </div>
                
                <!-- <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
                <div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;align-items: center;align-content: center;">
                    <div class="eboard">
                        <h3>Step 1</h3>
                        <h4>Join Discord</h4>
                        <p><i class="fa-brands fa-discord" style="font-size:2rem; padding: 20px;"></i></p>
                        <button class="button button--primary button--gray-dark button-round button--md steps">
                            <a href="https://discord.gg/Na5PGfp/" style="min-width: none;">Discord</a>
                        </button>
                        
                    </div>
                    <div class="eboard">
                        <h3>Step 2</h3>
                        <h4>Join myBAR</h4>
                        <p><i class="fa-solid fa-handshake" style="font-size:2rem; padding: 20px;"></i></p>
                        <button class="button button--primary button--gray-dark button-round button--md steps">
                            <a href="https://mybar.cpp.edu/organization/telecommunications">myBAR</a>
                        </button>
                    </div>
                    <div class="eboard">
                        <h3>Step 3</h3>
                        <h4>Complete Registration</h4>
                        <p><i class="fa-solid fa-file-lines" style="font-size:2rem; padding: 20px;"></i></p>
                        <button class="button button--primary button--gray-dark button-round button--md steps">
                            <a href="https://www.eventbrite.com/e/swift-2021-2022-membership-tickets-169872480161">Registration</a>
                        </button>
                    </div>
                </div>  
        </div>
</section>
  <!-- {% include contact.html %} -->
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<!-- <script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
    }
  });
</script> -->

</html>