---
layout: compress
title: membership
accordion: 
  - title: Community
    content: Be part of a large community of students spanning over 30 years. 
  - title: Events
    content: Access to workshops and events throughout the year. Free attendance to Tech Symposium. Go on tours to organizations focusing on System Administration and Cyber Security
  - title: Giveaways
    content: Free T-Shirts, Stickers, Webcam Covers, and Other Swag. 
    
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  <section class="hero is-fullheight has-text-centered has-background-black-ter" id="membership" style="background-color: #1f1f1f;">
    <div class="hero-body">
        <div class="container">
            <div class="columns" style="color:white;">
                <div>
                    <h1 style="font-size:3rem; align-self:center; margin: 3rem;">Join the SWIFT Community</h1>
                    <img src="assets/images/community.jpg" style="height: 60%; padding-bottom: 20px;">
                    <!-- Membership steps -->
                <div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-evenly;align-items: center;align-content: center;">
                    <div class="membership">
                        <h3>Step 1</h3>
                        <h4>Join Discord</h4>
                        <p><i class="fa-brands fa-discord" style="font-size:2rem; padding: 20px;"></i></p>
                        <button class="button button--primary button--gray-dark button-round button--md steps" style="">
                            <a href="https://discord.gg/Na5PGfp/" style="min-width: none;">Discord</a>
                        </button>   
                    </div>
                    <div class="membership">
                        <h3>Step 2</h3>
                        <h4>Join myBAR</h4>
                        <p><i class="fa-solid fa-handshake" style="font-size:2rem; padding: 20px;"></i></p>
                        <button class="button button--primary button--gray-dark button-round button--md steps">
                            <a href="https://mybar.cpp.edu/organization/telecommunications">myBAR</a>
                        </button>
                    </div>
                    <div class="membership">
                        <h3>Step 3</h3>
                        <h4>Complete Registration</h4>
                        <p><i class="fa-solid fa-file-lines" style="font-size:2rem; padding: 20px;"></i></p>
                        <button class="button button--primary button--gray-dark button-round button--md steps">
                            <a href="https://www.eventbrite.com/e/swift-2021-2022-membership-tickets-169872480161">Registration</a>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
        <div style="text-align: left">
            <h2>Membership Benefits</h2>
            {% include accordian.html %}
        </div>
        </div>
        
</section>
<section class="hero is-fullheight has-text-centered has-background-black-ter" id="membership" style="background-color: #1f1f1f;">
    
</section>
  <!-- {% include contact.html %} -->
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<!-- <script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
    }
  });
</script> -->

</html>