---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight has-text-justified has-background-black-ter" id="about"
        style="background-color: #1f1f1f;">
        <div class="hero-body">
            <div class="container">
                <div class="columns" style="color:white; ">
                    <div class="" style="margin-top: 8rem;">
                        <h1><b>RvB</b></h1>
                        <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                            <img src="assets/images/rvb.jpg">
                        </div>
                        <p>Red vs. Blue (RvB) is a SWIFT-run competition that enables its teams competing in CCDC and
                            CPTC to share their technical knowledge and expertise with other students. RvB is modeled
                            after CCDC and places a team of 4 students into a vulnerable network they have to protect.
                            SWIFT board and alumni act as an adversary trying to compromise the network and give
                            students a unique experience of troubleshooting and incident response in an active breach
                            scenario. Originating from a partnership between SWIFT and Troy High School, we aim to
                            expand this opportunity for SWIFT members and give the competition experience into
                            everyone's hands.</p>
                        
                    </div>
                </div>
            </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>