---
layout: compress
title: Red vs Blue
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body id="rvb">
    {% include navbar.html %}
    <!-- Saving the countdown for later
	
	<section class="hero is-fullheight-with-navbar has-text-centered has-background-black-ter">
        <div class="hero-body" style="background-color:#1f1f1f">
            <div class="container">
                <div class="columns is-centered" style="color:white;">
                    <div class="column is-narrow">
                        <i class="fa fa-trophy" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                        <h1 style="margin-bottom:2rem"><b>Red vs. Blue</b></h1>
                        <h1>
                            <i>SWIFT's Flagship Competition</i>
                        </h1>
                        <div id="countdown" class="countdown">00 : 00 : 00 : 00</div>
                        <!-- <p>April 16th, 2022 1:00 PM PST @ Cal Poly Pomona</p> -->
                        <!-- <a id="contact-button" href=""
                            class="button swift-button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column"
                            target="_blank">Sign up today!
                        </a> -->

	<!--
                    </div>
                </div>
            </div>
            <script src="assets/countdown/script.js"></script>
    </section>
	-->

    <section class="hero is-halfheight has-text-left has-background-black-ter" style="background-color: #1f1f1f;">
        <div class="hero-body">
            <div class="container">
                <div class="columns" style="color:white; ">
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <img src="assets/images/rvb.jpg">
                    </div>
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <h1>About RvB</h1>
                        <p>Red vs. Blue (RvB) is a SWIFT-run competition that enables its teams competing in CCDC
                            and CPTC to share their technical knowledge and expertise with other students. RvB is
                            modeled after CCDC and places a team of 4 students into a vulnerable network they have to
                            protect. SWIFT board, alumni, and volunteers act as an adversary trying to compromise the
                            network and give students a unique experience of troubleshooting and incident response in an
                            active breach scenario. Originating from a partnership between SWIFT and Troy High School,
                            we aim to expand this opportunity for SWIFT members and give the competition experience into
                            everyone's hands.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-halfheight has-text-left has-background-black-ter" style="background-color: #242526;">
        <div class="hero-body">
            <div class="container">
                <div class="columns" style="color:white; ">
                    <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <img src="assets/images/rvbuptime.png">
                    </div>
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <h1>How RvB Works</h1>
                        <p>
                            RvB uses three main metrics to give points to participants: Secure Configuration Score
                            (SCS), Service Uptime, and Injects.
                        </p>
                        <h3>Scored Configuration Settings (SCS)</h3>
                        <p>
                            Our scoring engine checks for specific security configurations that you should implement.
                        </p>
                        <h3>Service Uptime</h3>
                        <p>
                            RvB mocks a real business. Keeping your business up and actually functional is important.
                            You get a small amount of points every few minutes if you keep your service functional.
                            However, if you are unable keep your service operational for too long, you will receive a
                            point penalty.
                        </p>
                        <h3>Injects</h3>
                        <p>Throughout the competition, as if defending your network from an active red wasn't enough,
                            your team will receive additional business tasks, injects, from the business that hired you.
                            Submitting injects will reward you with extra points, but make sure to do it before
                            the deadline or no points for you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-small has-text-left has-background-black-ter">
        <div class="hero-body" style="background-color:#1f1f1f;">
            <div style="display:flex;justify-content: center;">
                <h1>Testimonials</h1>
            </div>

            <div class="testimonial-box">
                <div class="testimonial testimonial--unexpanded" onclick="expand(this)">
                    <div class="testimonial-body">
                        <div>
                            <div class="testimonial__info">
                                <span class="testimonial__info-mainquote">"... a perfect balance of challenge and
                                    fun..."</span>
                                <span class="testimonial__info-username">A CyberPatriot Open Division National
                                    Champion</span>
                            </div>
                        </div>
                        <div class="testimonial__data">
                            <div>
                                <span class="font-bold has-text-primary is-size-5">
                                    “
                                </span>
                                Overall I felt that the RvB was well put together... [and] extremely well developed with
                                a fully immersive experience. This was complimented with a well designed technical
                                element where services and red team contributed to a perfect balance of challenge and
                                fun.

                                Being at nationals for 5 years... [t]he RvB mocks we've done with Cal Poly have...
                                various beneficial practice curveballs thrown at us to expose us to a wide variety of
                                possibilities.

                                My personal favorite part of RvB is the red team interaction. [It's] a
                                very engaging experience when you see elements of red team activity and can respond
                                in real time.
                                <span class="font-bold has-text-primary is-size-5">
                                    ”
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__banner"></div>
                </div>

                <div class="testimonial testimonial--unexpanded" onclick="expand(this)">
                    <!-- <div class="testimonial__banner" style="background-color: rgb(255,128,128);"></div> -->
                    <div class="testimonial-body">
                        <div>
                            <div class="testimonial__info">
                                <span class="testimonial__info-mainquote">"... develop and practice skills under
                                    pressure..."</span>
                                <span class="testimonial__info-username">A CyberPatriot Open Division Runner Up</span>
                            </div>
                        </div>
                        <div class="testimonial__data">
                            <div>
                                <span class="font-bold has-text-primary is-size-5">
                                    “
                                </span>
                                I had fun participating in these, and I look forward to doing more RvBs, especially with
                                SWIFT, in the future... [T]hese practices verify good procedures, establish good
                                practices, and allow us to develop and practice skills under pressure... I
                                found myself pleasantly surprised...
                                <span class="font-bold has-text-primary is-size-5">
                                    ”
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__banner"></div>

                </div>

                <div class="testimonial testimonial--unexpanded" onclick="expand(this)">
                    <!-- <div class="testimonial__banner" style="background-color: rgb(255,128,128);"></div> -->
                    <div class="testimonial-body">
                        <div>
                            <div class="testimonial__info">
                                <span class="testimonial__info-mainquote">"You learn to think about the attacker's
                                    intent..."</span>
                                <span class="testimonial__info-username">A CyberPatriot All-Service Division Runner
                                    Up</span>
                            </div>
                        </div>
                        <div class="testimonial__data">
                            <div>
                                <span class="font-bold has-text-primary is-size-5">
                                    “
                                </span>
                                RvBs are a great way to see cyber in action and gives meaning to all the training and
                                preparation beforehand...

                                RvB felt like a simulation of nationals but harder...

                                You learn to think about the attacker's intent. Everything revolves around what the
                                attacker would do next and trying to preempt their moves... RvB also
                                made me better at the fundamentals...

                                SWIFT has been very helpful and generous with the effort put into RvBs to help us.
                                <span class="font-bold has-text-primary is-size-5">
                                    ”
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial__banner"></div>

                </div>

            </div>
        </div>
        <script src="assets/testimonials/expand.js"></script>
    </section>

    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>