<section class="hero is-fullheight has-text-centered has-background-black-ter" id="about">
    <div class="hero-body" style="background-color: #1f1f1f;">
        <div class="container">
            <div class="columns" style="color:white; ">
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <i class="fa fa-shield" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                    <h1><b>Cybersecurity</b></h1>
                    <p>Learn about cybersecurity - everywhere from pentesting, to defending, to incident response, and everything in between. We bring the cybersecurity competition experience into your hands.</p>
                </div>
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <i class="fa fa-ethernet" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                    <h1><b>Computer Networking</b></h1>
                    <p>Learn about computer networking in SWIFT! We cover beginner-friendly topics such as IP addressing and gradually move on to network security and software-defined networking.</p>
                </div>
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <i class="fa fa-screwdriver" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                    <h1><b>System Administration</b></h1>
                    <p> Want to get started with the basics of Linux and Windows? We got you covered! You will learn what it takes to be a sysadmin and acquire all the skills to build your own lab!</p>
                </div>

                <!-- <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
</section>