<section class="hero is-fullheight has-text-centered has-background-black-ter" id="about">
    <div class="hero-body" style="background-color: #1f1f1f;">
        <div class="sectionformat">
            <div class="containeritem">
                <i class="fa fa-ethernet" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                <h2><b>Computer Networking</b></h2>
                <p>Learn about computer networking in SWIFT! We cover beginner-friendly topics such as IP addressing and gradually move on to network security and software-defined networking.</p>
            </div>
            <div class="containeritem">
                <i class="fa fa-shield" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                <h2><b>Cybersecurity</b></h2>
                <p>Learn about cybersecurity - everywhere from pentesting, to defending, to incident response, and everything in between. We bring the cybersecurity competition experience into your hands.</p>
            </div>
            <div class="containeritem">
                <i class="fa fa-screwdriver" style="width:16rem;height:16rem;padding-bottom:4rem"></i>
                <h2><b>System Administration</b></h2>
                <p> Want to get started with the basics of Linux and Windows? We got you covered! You will learn what it takes to be a sysadmin and acquire all the skills to build your own lab!</p>
            </div>

        </div>
</section>