<section class="hero is-small has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            {% unless site.linktree == %}
            <p>Visit our LinkTree to find our other links!</p>
            <a id="contact-button" href="https://linktr.ee/{{site.linktree}}"
              class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
              target="_blank">
              <i class="fas fa-tree"></i> LinkTree
            </a>
            {% endunless %}
    </div>
</section>
