<section class="hero is-small has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            {% unless site.linktree == %}
            <a id="contact-button" href="{{site.url}}{{site.baseurl}}/contact"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column"
                        target="_blank"><i class="fa-solid fa-comment fa-fw"></i> Contact Us
                    </a>
            {% endunless %}
    </div>
</section>
