<style>
    a.navbar-item:hover,
.navbar-link:hover {
    background-color: black !important;
    color: #ffab40 !important;
}
</style>

<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        EVENTS
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <a class="navbar-item" href="https://techsymposium.calpolyswift.org/" style="color:white;">Tech Symposium</a>
        
        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/rvb" style="color:white">Red vs. Blue</a>

        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/generalmeetings" style="color:white">Meetings & Workshops</a>
    </div>
</div>