<div class="footer-dark" style="background-color:#1f1f1f">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col item social">
                    <a href="https://www.facebook.com/CalPolySWIFT">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/calpolyswift">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/user/CalPolySWIFT?feature=guide">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a href="https://github.com/CalPolySWIFT">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/groups/Students-Interest-in-Future-Technology-4108262">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://discord.gg/Na5PGfp">
                        <i class="fa-brands fa-discord"></i>
                    </a>
                    <a href="https://www.instagram.com/calpolyswift/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
            <p class="copyright">swift.com © 2022</p>
        </div>
    </footer>
</div>