<section class="hero is-fullheight has-text-centered has-background-black-ter" style="margin-bottom:0" id="about">
    <div class="hero-body" style="background-color:#242526">
        <div class="container">
            <div class="columns" style="color:white;">
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <h1><b>Membership</b></h1>
                    <p>Want to get even more out from SWIFT? If you like learning new topics, solving problems, breaking
                        things, being with fellow hackers, we want you! Our membership provides you with resources to
                        enhance your college experience and your expand your professional development.</p>
                    <a id="contact-button" href="{{site.url}}{{site.baseurl}}/membership"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column"
                        target="_blank">Read More
                    </a>
                </div>
                <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                    <img src="assets/images/membership.jpg">
                </div>
            </div>
        </div>
</section>
<section class="hero is-fullheight has-text-centered has-background-black-ter" id="about">
    <div class="hero-body" style="background-color:#1f1f1f">
        <div class="container">
            <div class="columns" style="color:white;">
                <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                    <img src="assets/images/events.jpg">
                </div>
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <h1><b>Events</b></h1>
                    <p class="infosectiondesciption">SWIFT holds events for people of all skill levels. Whether it's our
                        flagship competition Red vs. Blue, a home-made CTF, or a casual social with pizza in PJs,
                        theres always a way for you to get involved in the SWIFT community. We also host an annual
                        student-run conference, Tech Symposium, opening previously-closed doors for students who are new
                        to cybersecurity. We also assist Bronco Esports with a semi-annual on-campus LAN gaming event
                        called FragFest by hosting the networking infrastructure for gamers. If you'd like to
                        collaborate with us or just join in on the fun, contact us below.</p>
                    {% include contact.html %}
                </div>
            </div>
        </div>
</section>
<section class="hero is-medium has-text-centered has-background-black-ter" style="margin-bottom:0" id="about">
    <div class="hero-body" style="background-color:#242526">
        <div class="container">
            <div class="columns" style="color:white;">
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <h1><b>Competitions</b></h1>
                    <p class="infosectiondesciption">Take your skills to the next level with challenges that put you up
                        against the best in the field. Apply your cyberdefense skills defending company networks or be
                        on the offensive and hack your way through a network. Our CCDC and CPTC teams will train you
                        from the ground up.</p>
                    <a id="contact-button" href="{{site.url}}{{site.baseurl}}/competitions"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column"
                        target="_blank">Read More
                    </a>
                </div>
                <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                    <img src="assets/images/competitions.jpg">
                </div>
            </div>
        </div>
</section>
<section class="hero is-fullheight has-text-centered has-background-black-ter" id="about">
    <div class="hero-body" style="background-color:#1f1f1f">
        <div class="container">
            <div class="columns" style="color:white;">
                <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                    <img src="assets/images/meetings.jpg">
                </div>
                <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <h1><b>Meetings</b></h1>
                    <p class="infosectiondesciption">Come to our weekly meetings where we present and discuss topics
                        focused in cybersecurity, networking, system administration, and automation. We invite student
                        in the field to give our members an insight to the professional world of technology. It's a
                        great place to get your start in cybersecurity and also meet students with similar interests.</p>
                    <a id="contact-button" href="{{site.url}}{{site.baseurl}}/generalmeetings"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column"
                        target="_blank">Read More
                    </a>
                </div>
            </div>
        </div>
</section>