<!-- Membership -->
<div id="about">
    <section class="hero is-fullheight has-text-left has-background-black-ter" style="margin-bottom:0">
        <div class="hero-body" style="background-color:#242526">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/membership.jpg">
                    </div>
                    <div class="leftpadding column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>Join a community</b></h1>
                        <p>
                            Want to get even more out from SWIFT? If you like learning new topics, solving problems,
                            breaking things, being with fellow hackers, we want you! Our membership provides you with
                            resources to enhance your college experience and your expand your professional development.
                        </p>
                        <section class="hero is-small has-text-centered">
                            <div class="hero-body">
                                <div class="container">
                                    <a href="{{site.url}}{{site.baseurl}}/membership"
                                        class="button swift-button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold"
                                        target="_blank">Read More
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Events -->
    <section class="hero is-fullheight has-text-left has-background-black-ter">
        <div class="hero-body" style="background-color:#1f1f1f">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="rightpadding column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>Events year-round for you and your friends</b></h1>
                        <p>
                            SWIFT holds events for people of all backgrounds and skill levels. Whether it's our
                            flagship competition Red vs. Blue, a home-made CTF, or a casual social with pizza in PJs,
                            theres always a way for you to get involved in the SWIFT community. We also host an annual
                            student-run conference, Tech Symposium, opening previously-closed doors for students who are
                            new
                            to cybersecurity. We also assist Bronco Esports with a semi-annual on-campus LAN gaming
                            event
                            called FragFest by hosting the networking infrastructure for gamers. If you'd like to
                            collaborate with us or just join in on the fun, contact us below.
                        </p>
                        {% include contact.html %}
                    </div>
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/events.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Competitions -->
    <section class="hero is-fullheight has-text-left has-background-black-ter" style="margin-bottom:0">
        <div class="hero-body" style="background-color:#242526">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/competitions.jpg">
                    </div>
                    <div class="leftpadding column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>Where champions are made</b></h1>
                        <p>
                            Take your skills to the next level with challenges that put you up
                            against the best in the field in cybersecurity-centered competitions. Apply your
                            cyberdefense
                            skills defending company networks or be on the offensive and hack your way through a
                            network.
                            Our CCDC and CPTC teams will train you
                            from the ground up.
                        </p>
                        <section class="hero is-small has-text-centered">
                            <div class="hero-body">
                                <div class="container">
                                    <a href="{{site.url}}{{site.baseurl}}/competitions"
                                        class="button swift-button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold"
                                        target="_blank">Read More
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight has-text-left has-background-black-ter">
        <div class="hero-body" style="background-color:#1f1f1f">
            <div class="container">
                <div class="columns" style="color:white;">
                    <div class="rightpadding column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                        <h1><b>Learn and get the start you need</b></h1>
                        <p>
                            Come to our weekly meetings where we present and discuss topics
                            focused in cybersecurity, networking, system administration, and automation. We invite
                            student
                            in the field to give our members an insight to the professional world of technology. It's a
                            great place to get your start in cybersecurity and also meet students with similar
                            interests.
                        </p>
                        <section class="hero is-small has-text-centered">
                            <div class="hero-body">
                                <div class="container">
                                    <a href="{{site.url}}{{site.baseurl}}/generalmeetings"
                                        class="button swift-button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold"
                                        target="_blank">Read More
                                    </a>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="column is-two-third-desktop is-two-third-tablet is-two-third-fullhd">
                        <img src="assets/images/meetings.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>