<style>
    a.navbar-item:hover,
.navbar-link:hover {
    background-color: black !important;
    color: #ffab40 !important;
}
</style>

<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        MORE
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/workshop" style="color:white;">This Week's Workshop</a>
        
        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/eboard" style="color:white">Meet the Eboard</a>

        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/blog" style="color:white">Blog</a>
		
		<a class="navbar-item" href="{{site.url}}{{site.baseurl}}/contact" style="color:white">Contact Us</a>
    </div>
</div>