<!-- <section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body" style="background-color: #1f1f1f">
    <div class="container">
      <img src="assets/images/swift.png">
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#pillars"
        class="button is-large is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
    </div>
  </div>
</section>-->
<style>
.panel {
  transform: rotate3d(0.5, -0.9, 0, 45deg) rotate(1deg);
  box-shadow: 2em 4em 2em 1em rgba(0, 0, 0, 0.5),
    1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 0.5em;
  background: #1d1f20;
  background-size: 16px 16px;
  background-position: 50%;
  overflow: hidden;
  background-image: linear-gradient(
      90deg,
      rgba(55, 55, 255, 0.4) 1px,
      transparent 0
    ),
    linear-gradient(180deg, rgba(55, 55, 255, 0.4) 1px, transparent 0);
  border: 1px solid #2b2b2b;

  }
	
.panel:hover {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
    box-shadow: none;
}

.panel > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: row;
}
main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
	
.main-hero{
  height: auto;		
}
</style>

<div class="main-hero">
	<br><br><br>
<!--	<div>
		<span style="font-family: 'Inter Tight', sans-serif; font-size: 30px;">We Are</span>
		<img src="/assets/images/SWIFT_Black.png">
	</div>-->
	<main>
	  <div class="container">
		  <div>
		  	<span style="font-family: 'Inter Tight', sans-serif; font-size: 30px;">We Are</span>
			<img src="/assets/images/SWIFT_Black.png">
		  </div>
		  <div class="panel">
			<img src="https://www.calpolyswift.org/assets/images/membership.jpg">
		  </div>
		  <div class="panel">
			<img src="https://www.calpolyswift.org/assets/images/competitions.jpg">
		  </div>
		  <div class="panel">
			<img src="https://www.calpolyswift.org/assets/images/meetings.jpg">
		  </div>
	</div>
	</main>
</div>