<!-- <section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body" style="background-color: #1f1f1f">
    <div class="container">
      <img src="assets/images/swift.png">
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#pillars"
        class="button is-large is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
    </div>
  </div>
</section>-->

<div style="position: relative; bottom: -50px; left: -350px;">
    <span style="font-family: 'Inter Tight', sans-serif; font-size: 30px;">We Are</span>
    <img src="/assets/images/SWIFT_Black.png">
  </div>
<main>
  <div class="container">
  <div class="panel">
    <img src="https://www.calpolyswift.org/assets/images/membership.jpg">
  </div>
  <div class="panel">
    <img src="https://www.calpolyswift.org/assets/images/competitions.jpg">
  </div>
  <div class="panel">
    <img src="https://www.calpolyswift.org/assets/images/meetings.jpg">
  </div>
</div>
</main>